# Exclude version control and meta
Dockerfile
.dockerignore
.git
.gitignore
README.md

# Node files
node_modules
npm-debug.log

# SvelteKit build output and editor configs
.svelte-kit
build
.env
.vscode
